// Load fonts from external api
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap');

/* Variable declarations for fonts and colors  */
$--secColor: #5f5b5b;
$--primaryColor: #9cebad;
$--varColor: #a74d4d;
$--fontFade: #333;

$--ff-prime: 'Caveat Brush', monospace, 'cursive', sans-serif;
$--ff-norm: 'Caveat', monospace, 'cursive', sans-serif; 

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $--ff-norm;
  background-image: url(./images/main-bg.png);
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Header Section */
header {
  width: 100%;
  height: 85px;
  background-color: $--secColor;
  box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);


  .container {
    width: 100%;
    position: relative;
    height: inherit;
    padding: 0.625rem;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;


      .menu {
        cursor: pointer;
      }
    }

    .nav-bar {
      display: none;
      width: 100%;
      background-color: #5f5b5b;
      height: 100%;

      .nav-list {
        position: fixed;
        line-height: 4rem;
        padding-top: 5rem;
        left: 0;
        top: 0;
        width: 80%;
        height: inherit;
        display: block;
        background-color: #5f5b5b;
        text-align: center;

        a {
          padding-top: 2.5rem;
          text-decoration: none;
          color: #fff;
          font-family: $--ff-prime;
          cursor: pointer;
          font-size: 1.5rem;

          &:hover {
            color: $--primaryColor;
          }
        }
      }
    }

    .profile {
      display: none;
    }
  }

  /* Media queries for 768px min-width */
  @media screen and (min-width: 768px) {
    .container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .head {
        display: block;
      }
  
      .menu {
        display: none;
      }
  
      .nav-bar {
        display: block;
        margin-right: 60px;
        .nav-list {
          display: flex;
          position: relative;
          padding-top: 0;
          gap: 24px;
          width: inherit;
          background-color: #5f5b5b;
          height: inherit;
          justify-content: flex-end;
          
        }
      }

      .profile {
        display: block;
        cursor: pointer;
      }
    }
  }
}

/* Hero-Page Styling */
.hero-page {
  width: 100%;
  height: auto;

  .container {
    width: 100%;
    height: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-size: 1.5rem;
      text-align: center;
      line-height: 2.5rem;

      @media screen and (min-width: 768px) {
          font-size: 3rem;
          text-align: left;
          line-height: 3.5rem;
      }

      span {
        color: $--varColor;
        font-family: $--ff-prime;
        font-size: 2rem;
        text-shadow: 2px 2px 2px #9cebad, 2px 2px 2px #333;

        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
      }
    }

    button {
      background-color: $--primaryColor;
      border: none;
      border-radius: 30px;
      margin-top: 1.5rem;
      padding: 0.625rem 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $--ff-prime;
      font-size: 1.5rem;
      color: $--secColor;
      text-transform: uppercase;
      transition: color 300ms ease;
      box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25), 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25), 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

      &:hover {
        color: $--fontFade;

        img {
          transition: color 0.5s ease-in-out;
          transform: scale(1.05);
        }
      }

      &:active {
        background-color: $--fontFade;
        color: $--primaryColor;

        img {
          background-color: $--primaryColor;
        }
      }

      img {
        margin-right: 0.5rem;
      }
    }

    /* Styling the form for Book info collection */
    .form-section {
      display: none;
      position: fixed;
      overflow: auto;
      top: 0;
      padding: 2rem 0;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(51, 51, 51, 0.8);
      backdrop-filter: blur(5px);

      .blurb {
        display: flex;
        flex-direction: column;
        font-size: large;
        width: 800%;
        max-width: 395px;
        margin: 0 auto;
        padding: 1.5rem;
        overflow: auto;
        
  
        .form-header {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.15rem;

          p {
            color: $--primaryColor;
          }
  
          img {
            width: 15%;
          }

          .exit-btn {
            width: 24px;
            position: relative;
            top: -40px;
            right: -30px;
            transition: all 300ms ease-out;

            &:hover {
              transform: scale(1.15);
            }
          }
        }
  
        .form {
          display: flex;
          flex-direction: column;

          input,
          select {
            text-transform: capitalize;
          }

          input,
          select,
          textarea {
            outline: none;
            padding-left: 1rem;
            font-family: $--ff-prime;
            caret-color: #a74d4d;
            border-radius: 5px;
            border: none;
            background-color: rgba(156, 235, 173, 0.5);

            &:invalid {
              outline: 1px $--varColor;
            }

            &::placeholder {
              color: $--varColor;
            }
          }
  
          button {
            @extend button;
          }
        }
      }
    }
  }
}

/* Bookshelf section */
.library {
  width: 100%;
  height: auto;
 
  .container {
    width: 100%;
    height: auto;

    h2 {
      text-align: center;
      font-size: 1.25rem
    }

    hr {
      height: 3px;
      color: $--primaryColor;
    }

    .shelf {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: auto;

      .book-card {
        width: 60%;
        background-color: $--primaryColor;
        padding: 0.5rem;
        text-align: center;
        border-radius: 10px;
        margin: auto;
        box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.25);

        h3 {
          font-family: $--ff-prime;
          text-transform: capitalize;
        }

        span:nth-child(2){
          font-weight: bold;
          background-color: $--secColor;
          color: #fff;
          padding: 0.25rem;
          border-radius: 10px;
        }

        span:nth-child(1){
          color: $--varColor;
          font-size: larger;
        }

        .updateStatus {
          display: none;
          width: 70%;
          text-align: center;
        }

        p {
          margin: 1rem 0;
        }

        .writer {
          background-color: $--varColor;
          text-transform: capitalize;
          color: #fff;
          width: 100%;
          padding: 0.25rem;
          margin: 0.5rem 0;
        }

        .brief {
          font-size: 1.15rem;
        }

        @media screen and (min-width: 768px) {
          max-width: 30%;
        }
      }

      @media screen and (min-width: 768px) {
        margin: 24px 0;
        display: flex;
      }
    }
  }
}

/* Footer Section */
footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 1rem;
  color: #fff;
  background-color: $--secColor;

  a {
    color: $--primaryColor;
    font-size: 105%;
    font-family: $--ff-prime;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
  }
}