@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap");
/* Variable declarations for fonts and colors  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Caveat", monospace, "cursive", sans-serif;
  background-image: url(./images/main-bg.png);
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
.hero-page .container .form-section .blurb .form button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Header Section */
header {
  width: 100%;
  height: 85px;
  background-color: #5f5b5b;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* Media queries for 768px min-width */
}
header .container {
  width: 100%;
  position: relative;
  height: inherit;
  padding: 0.625rem;
}
header .container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .head .menu {
  cursor: pointer;
}
header .container .nav-bar {
  display: none;
  width: 100%;
  background-color: #5f5b5b;
  height: 100%;
}
header .container .nav-bar .nav-list {
  position: fixed;
  line-height: 4rem;
  padding-top: 5rem;
  left: 0;
  top: 0;
  width: 80%;
  height: inherit;
  display: block;
  background-color: #5f5b5b;
  text-align: center;
}
header .container .nav-bar .nav-list a {
  padding-top: 2.5rem;
  text-decoration: none;
  color: #fff;
  font-family: "Caveat Brush", monospace, "cursive", sans-serif;
  cursor: pointer;
  font-size: 1.5rem;
}
header .container .nav-bar .nav-list a:hover {
  color: #9cebad;
}
header .container .profile {
  display: none;
}
@media screen and (min-width: 768px) {
  header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .head {
    display: block;
  }
  header .container .menu {
    display: none;
  }
  header .container .nav-bar {
    display: block;
    margin-right: 60px;
  }
  header .container .nav-bar .nav-list {
    display: flex;
    position: relative;
    padding-top: 0;
    gap: 24px;
    width: inherit;
    background-color: #5f5b5b;
    height: inherit;
    justify-content: flex-end;
  }
  header .container .profile {
    display: block;
    cursor: pointer;
  }
}

/* Hero-Page Styling */
.hero-page {
  width: 100%;
  height: auto;
}
.hero-page .container {
  width: 100%;
  height: 100%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Styling the form for Book info collection */
}
.hero-page .container h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .hero-page .container h1 {
    font-size: 3rem;
    text-align: left;
    line-height: 3.5rem;
  }
}
.hero-page .container h1 span {
  color: #a74d4d;
  font-family: "Caveat Brush", monospace, "cursive", sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #9cebad, 2px 2px 2px #333;
}
@media screen and (min-width: 768px) {
  .hero-page .container h1 span {
    font-size: 3.5rem;
  }
}
.hero-page .container button, .hero-page .container .form-section .blurb .form button {
  background-color: #9cebad;
  border: none;
  border-radius: 30px;
  margin-top: 1.5rem;
  padding: 0.625rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat Brush", monospace, "cursive", sans-serif;
  font-size: 1.5rem;
  color: #5f5b5b;
  text-transform: uppercase;
  transition: color 300ms ease;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.hero-page .container button:hover, .hero-page .container .form-section .blurb .form button:hover {
  color: #333;
}
.hero-page .container button:hover img, .hero-page .container .form-section .blurb .form button:hover img {
  transition: color 0.5s ease-in-out;
  transform: scale(1.05);
}
.hero-page .container button:active, .hero-page .container .form-section .blurb .form button:active {
  background-color: #333;
  color: #9cebad;
}
.hero-page .container button:active img, .hero-page .container .form-section .blurb .form button:active img {
  background-color: #9cebad;
}
.hero-page .container button img, .hero-page .container .form-section .blurb .form button img {
  margin-right: 0.5rem;
}
.hero-page .container .form-section {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.hero-page .container .form-section .blurb {
  display: flex;
  flex-direction: column;
  font-size: large;
  width: 800%;
  max-width: 395px;
  margin: 0 auto;
  padding: 1.5rem;
  overflow: auto;
}
.hero-page .container .form-section .blurb .form-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.15rem;
}
.hero-page .container .form-section .blurb .form-header p {
  color: #9cebad;
}
.hero-page .container .form-section .blurb .form-header img {
  width: 15%;
}
.hero-page .container .form-section .blurb .form-header .exit-btn {
  width: 24px;
  position: relative;
  top: -40px;
  right: -30px;
  transition: all 300ms ease-out;
}
.hero-page .container .form-section .blurb .form-header .exit-btn:hover {
  transform: scale(1.15);
}
.hero-page .container .form-section .blurb .form {
  display: flex;
  flex-direction: column;
}
.hero-page .container .form-section .blurb .form input,
.hero-page .container .form-section .blurb .form select {
  text-transform: capitalize;
}
.hero-page .container .form-section .blurb .form input,
.hero-page .container .form-section .blurb .form select,
.hero-page .container .form-section .blurb .form textarea {
  outline: none;
  padding-left: 1rem;
  font-family: "Caveat Brush", monospace, "cursive", sans-serif;
  caret-color: #a74d4d;
  border-radius: 5px;
  border: none;
  background-color: rgba(156, 235, 173, 0.5);
}
.hero-page .container .form-section .blurb .form input:invalid,
.hero-page .container .form-section .blurb .form select:invalid,
.hero-page .container .form-section .blurb .form textarea:invalid {
  outline: 1px #a74d4d;
}
.hero-page .container .form-section .blurb .form input::-moz-placeholder, .hero-page .container .form-section .blurb .form select::-moz-placeholder, .hero-page .container .form-section .blurb .form textarea::-moz-placeholder {
  color: #a74d4d;
}
.hero-page .container .form-section .blurb .form input:-ms-input-placeholder, .hero-page .container .form-section .blurb .form select:-ms-input-placeholder, .hero-page .container .form-section .blurb .form textarea:-ms-input-placeholder {
  color: #a74d4d;
}
.hero-page .container .form-section .blurb .form input::placeholder,
.hero-page .container .form-section .blurb .form select::placeholder,
.hero-page .container .form-section .blurb .form textarea::placeholder {
  color: #a74d4d;
}
/* Bookshelf section */
.library {
  width: 100%;
  height: auto;
}
.library .container {
  width: 100%;
  height: auto;
}
.library .container h2 {
  text-align: center;
  font-size: 1.25rem;
}
.library .container hr {
  height: 3px;
  color: #9cebad;
}
.library .container .shelf {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: auto;
}
.library .container .shelf .book-card {
  width: 60%;
  background-color: #9cebad;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.library .container .shelf .book-card h3 {
  font-family: "Caveat Brush", monospace, "cursive", sans-serif;
  text-transform: capitalize;
}
.library .container .shelf .book-card span:nth-child(2) {
  font-weight: bold;
  background-color: #5f5b5b;
  color: #fff;
  padding: 0.25rem;
  border-radius: 10px;
}
.library .container .shelf .book-card span:nth-child(1) {
  color: #a74d4d;
  font-size: larger;
}
.library .container .shelf .book-card .updateStatus {
  display: none;
  width: 70%;
  text-align: center;
}
.library .container .shelf .book-card p {
  margin: 1rem 0;
}
.library .container .shelf .book-card .writer {
  background-color: #a74d4d;
  text-transform: capitalize;
  color: #fff;
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
}
.library .container .shelf .book-card .brief {
  font-size: 1.15rem;
}
@media screen and (min-width: 768px) {
  .library .container .shelf .book-card {
    max-width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .library .container .shelf {
    margin: 24px 0;
    display: flex;
  }
}

/* Footer Section */
footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 1rem;
  color: #fff;
  background-color: #5f5b5b;
}
footer a {
  color: #9cebad;
  font-size: 105%;
  font-family: "Caveat Brush", monospace, "cursive", sans-serif;
}
@media screen and (min-width: 768px) {
  footer {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=main.css.map */